<!DOCTYPE html>
<html>
<head>
  <title>ActivityShare Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB12mD0AKu8-GBFWRFN3EQOUWxoUShIs6Q&libraries=places" async defer></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">


</head>
<body>

  <div class="nav-bar">
    <div class="logged-info">
      <% if logged_in? %>
      <% user = current_user %>
        <a href="/admin/dashboard"><img src="http://placehold.it/100x100" alt=""></a>
        <h3><%= user.name %></h3>
      <% else %>
        <h3><a href="/login">Login</a></h3>
        <h3><a href="/admin/users/new">Signup</a></h3>
      <% end %>
    </div>
      <a href="/"><img src="http://placehold.it/100x100" alt=""></a>
    <div class="search-bar">
      <input type="text" placeholder="Activity">
      <button>&#128269;</button>
    </div>
  </div>


<div class="dash-container">
  <div class="left-menu">
    <div class="info-content">
      <img src="http://placehold.it/100x100" alt="">
      <p> <%= user.name %></p>
      <p> <%= user.email %> </p>
      <p> <%= user.location %> </p>
    </div>
    <nav class="dashboard-nav">
      <ul>
        <li><%= link_to 'Edit Profile', edit_admin_user_path(current_user.id) %></li>
        <li><%= link_to 'Host an activity', new_admin_activity_path %></li>
        <li><%= link_to 'My hosted activities', admin_hosting_path(current_user) %></li>
        <li><%= link_to 'Activites I am interested in', admin_booked_path(current_user) %></li>
      </ul>
    </nav>
  </div>
  <div class="right-content">
    <%= yield %>
  </div>
</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
